.blog__posts__interna {
  width: var(--container-xl);
  margin: 1.5rem auto 2rem auto;
}

.blog__slider__interna {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
}

.blog__slider__interna .blog__posts_item_internas {
  border: 0.25rem solid var(--color-black);
  width: 30%;
  flex: 0 1 calc(33.333% - 0.5rem);
}

.blog__slider__interna .blog__posts_item_internas h3 {
  padding: 2rem;
  font-family: var(--font-display);
  font-size: var(--size-2xl);
  font-weight: var(--font-regular);
  line-height: var(--size-28);
}

.blog__cabecalho.titulo__blog_blog {
  padding-left: 2.5rem;
}

.blog__slider__interna .blog__posts_item_internas p {
  padding: 0 2rem 2rem;
  color: var(--color-gray);
  font-family: var(--font-primary);
  font-size: var(--size-base);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: var(--size-2xl);
}

.blog__conteudo {
  width: var(--container-lg);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.blog__conteudo__esquerda_cabecalho_data {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.titulo__blog {
  color: var(--color-black);
  font-family: var(--font-display);
  font-size: var(--size-5xl);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: var(--size-5xl);
  letter-spacing: 0.0625rem;
}

.blog__conteudo__esquerda_cabecalho_data {
  margin-top: 1rem;
  font-family: var(--font-primary);
  font-size: var(--size-md);
  font-style: italic;
  font-weight: var(--font-regular);
  line-height: var(--size-xl);
}

.blog__conteudo__esquerda_cabecalho_data span {
  opacity: 0.6;
}

.conteudo__blog {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog__conteudo_esquerda {
  width: 50rem;
}

.conteudo__blog p {
  font-family: var(--font-primary);
  font-size: var(--size-base);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: var(--size-2xl);
}

a.link__leia_mais {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: var(--size-base);
  font-weight: var(--font-bold);
  line-height: var(--size-2xl);
  text-transform: uppercase;
  align-items: center;
}

a.link__leia_mais i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/public/img/icon_ler_mais.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.blog__interna {
  margin-top: 4rem;
}

.blog__conteudo__direita {
  width: 26rem;
}

.campo__busca input {
  background: var(--color-white) url(/public/img/icon_lupa.svg) no-repeat 95%
    center;
}

.blog__conteudo__direita_categorias {
  width: 95%;
  margin: 3.5rem auto 0;
}

.blog__conteudo__direita_categorias ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}

.blog__conteudo__direita_tags {
  width: 95%;
  margin: 3.5rem auto;
}

.blog__conteudo__direita_tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: uppercase;
}

.blog__conteudo__direita_tags ul li a {
  display: inline-block;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: var(--size-base);
  font-weight: var(--font-regular);
  border: 0.125rem solid var(--color-black);
  padding: 0.5rem 1rem;
}

.blog__conteudo__direita_tags ul li a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  opacity: inherit;
}

.blog__navegacao__container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 6.5rem 0;
}

.blog__navegacao__lista {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.blog__navegacao__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-5xl);
  height: var(--size-5xl);
  border: 0.25rem solid var(--color-black);
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: var(--size-base);
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: var(--size-2xl);
  text-transform: uppercase;
}

.blog__navegacao__link:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  opacity: inherit;
}

.blog__navegacao__link.active {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-black);
  opacity: 0.5;
  cursor: default;
}

.blog__navegacao__seta.prev i {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(/public/img/seta_prev.svg) no-repeat center center;
}

.blog__navegacao__seta.next i {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(/public/img/serta_next.svg) no-repeat center center;
}

.blog__navegacao__seta.prev.active i,
.blog__navegacao__seta.next.active i {
  opacity: 0.5;
  cursor: default;
}

.barra_compartilhar {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2.5rem;
  background: url(/public/img/linha_horrizontal_black.svg),
    url(/public/img/linha_horrizontal_black.svg);
  background-repeat: repeat-x;
  background-position: left bottom, left top;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.barra_compartilhar .icones__compartilhar {
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  color: transparent;
}

.barra_compartilhar .icones__compartilhar.email {
  background-image: url(/public/img/icon_email.svg);
}

.barra_compartilhar .icones__compartilhar.facebook {
  background-image: url(/public/img/icon_facebook.svg);
}

.barra_compartilhar .icones__compartilhar.twitter {
  background-image: url(/public/img/icon_x.svg);
}

.barra_compartilhar .icones__compartilhar.enviar {
  background-image: url(/public/img/icon_compartilhar_via_envio.svg);
}

@media screen and (max-width: 1300px) {
  .blog__posts__interna {
    width: 100%;
    padding: 0 0.5rem;
  }

  .blog__conteudo {
    flex-direction: column;
    width: var(--container-responsive);
  }

  .conteudo__blog {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .titulo__blog {
    font-size: var(--size-3-5xl);
    line-height: var(--size-4-5xl);
    letter-spacing: 0.075rem;
  }

  .conteudo__blog {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .blog__conteudo_esquerda {
    width: 100%;
  }

  .blog__conteudo_esquerda img {
    width: 100%;
    height: auto;
  }

  .blog__slider__interna {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  .blog__slider__interna img {
    width: 100%;
    height: auto;
  }

  .blog__slider__interna .blog__posts_item_internas {
    width: 100%;
  }

  .blog__slider__interna .blog__posts_item_internas h3 {
    padding: var(--size-2xl);
    font-size: var(--size-xl);
    line-height: var(--size-2xl);
  }

  .blog__slider__interna .blog__posts_item_internas p {
    padding: 0 var(--size-2xl) var(--size-2xl);
    font-size: var(--size-base);
    line-height: var(--size-xl);
  }

  .blog__conteudo__esquerda_cabecalho_data {
    margin-bottom: 1.5rem;
  }

  .blog__interna {
    margin-top: 3.5rem;
  }

  .blog__cabecalho.titulo__blog_blog {
    padding: 0 var(--size-2xl);
  }

  .blog__conteudo__direita {
    width: 100%;
    margin: 0 auto;
  }

  .blog__navegacao__lista li:nth-child(n + 5):not(:last-child) {
    display: none;
  }

  .blog__navegacao__container {
    margin: 3rem 0;
  }

  .breadcrumbs span {
    width: 11.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
