.uniformes__personalizados {
  width: var(--container-lg);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 4px;
}

@media screen and (max-width: 1300px) {
  .uniformes__personalizados {
    width: auto;
    padding: 0 8px;
  }

  .uniformes__personalizados img {
    width: 100%;
    height: auto;
  }
}
