.uniformes__personalizados {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: var(--container-lg);
  margin: 0 auto;
  gap: 0.25rem;
}

@media screen and (max-width: 81.25rem) {
  .uniformes__personalizados {
    display: flex;
    width: auto;
    padding: 0 0.5rem;
  }

  .uniformes__personalizados img {
    width: 100%;
    height: auto;
  }
}
